/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}
    font-size: 1em;
    line-height: 1.4em;
    background-color: #040408;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    /*
    
    background:url(../img/background.jpg);
    -moz-background-size:80% 80%;
    background-size: 80% 80%;
    background-repeat: repeat;
    */
    margin: 0px;
    padding: 0px;
    background-color: rgb(150, 150, 150);
    font-family: "museo",serif;

}

h1,h2,h3,h4,h5,h6{
	font-family: "museo-sans",sans-serif;
	margin:0;
	padding:0;
	line-height:1.4em
	}
h1{
	font-size: 240%;
}

h2{
	font-size: 200%
}

h3{
	font-size: 160%;
}

h4{
	font-size: 120%;
}



p{

	font-size: 100%;
	line-height:1.4em;
	
}

/*******************************
       Header style
********************************/
.header1{
    
    margin:0px auto;
    clear: both;
    width: 970px;
    height: 90px;
    background-color: rgb(100 ,100,100);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom:solid 5px rgb(200,200,200);

}
.header1 h1{
    font-weight: bold;
    padding: 10px 0px 0px 20px;
   
    text-shadow: 7px 7px 29px white;
	
	}
        
.branding{
    float: left;
}
.branding a{
    color: white;
    text-decoration:none;
}

.headerSearchBoxWraper{
    float: right;
    margin: 2px 10px ;
    color: white;
    
}

#headerSearch{
    font-weight: bold;
    margin: 10px 0px 0px 0px;
}

#searchBox{
    
    box-shadow: 5px 5px 29px white;
    background-color: rgba(255,255,255, .8);
    border-style: none;
    font-family: monospace;
}
        
/*******************************
       Navigation style
********************************/
 
 .navs{
   	
}

.primaryNav{
    margin: -15px auto 0 auto;
    clear:both;
    width: 970px;
    height: 56px;
   background-color: rgba(255,255,255,1);
   
    font-family: "museo-sans",sans-serif;
    font-size: 1em;
    font-weight: bold;
}


    
}
 
.nav1 {
   
	margin:0 auto 0 auto;
	padding:0px;
	
	
}

.nav1 li{
	display: inline-block;
	padding:8px 20px;
	position: relative;
	list-style: none;
}
	
.nav1 li a{
	color: black;
	text-decoration:none;
}

.nav1 li:hover{
	text-decoration:underline;
	}

.nav2 {
    
	position: absolute;
	left:0;
	display: none;
	margin:0px 0px 0px 0px;
        /*trying to fix chrome bug!*/
        padding: -webkit-padding 0px 0px 0px 0px;
	padding:15px 0px 0px 0px;
	white-space: nowrap;
	
	font-size:1em;	
}
.nav2 li{
	list-style: none;
	display: inline-block;
	padding:4px 8px;
	position: relative;
	color: #666;

}

.nav1 li:hover ul.nav2{
	display:inline-block;
}

.nav2 {
}

.nav2 li a{
}

ul.anv2 li a:hover{
}
	
/*******  End of Navigation style   *******/

/*******************************
       Main Areas style
********************************/


div.main {
    background-color: none;
    width: 970px;
    margin: 0 auto 0 auto;
   
    border: none;
}

.leftArea{
    float: left;
    width: 570px;    
}

.ad_top{
    width: 970px;
    height: 90px;
    margin: 0 auto 0 auto;
}

.rightArea{
    width: 370px;
    margin-left: 600px;
    background-color: none;
    background: none;
}
.contentBlock{
    padding: 5px;
    /*border: solid 5px rgb(200,200,200);*/
    background: rgba(255,255,255,1);
    margin: 10px auto 10px auto;
    box-shadow: 3px 3px 10px 0px black;
}
.contentBlockHeader{
    margin: 0 auto 0 auto;
    text-align: center;
}
.contentBlockText{
    padding: 10px;
     
}
.contentBlockAd{
    display: block;
    margin: 0 auto 0 auto;
    
}

.feature {
    border-radius: 10px;
    overflow: inherit;
    background: none;
    background-color: none;
    
}

.featureImg{
   border: solid 5px;
   border-color: rgba(220,220,220,0.7);
   box-shadow: 3px 3px 10px 0px black;
    
}

.news{
    width: 217px;
    height: 443px;
    margin-left: 140px;
    border: solid 5px;
    border-radius: 10px;
    border-color: rgba(220,220,220,0.7);
    background-color: rgba(255,255,255,0.8);
}
.headings {
    text-align:center;
}


.footer{
    clear: both;
   margin:5px auto 0px auto;
    width: 970px;
    background-color: rgb(100 ,100,100);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top:solid 5px rgb(200,200,200);
}

.footerIcons{
    text-align: right;
  margin-right: 10px;
    
  
    
    
}
.footerIconsWraper{
   
    
}

.footerIcons li{
   display: inline-block;
    position: relative;
    list-style: none;
    padding: 3px;
    
    
}
#footerInfo{
    width:320px;
    text-align: left;
    color: white;
}
.smIcon{
    box-shadow: 5px 5px 30px white;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
