/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}
    font-size: 1em;
    line-height: 1.4;
    background-color: #040408;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    
    padding: 0;
    background:url(../img/background.jpg);
    -moz-background-size:80% 80%;
    background-size: 80% 80%;
    background-repeat: repeat;
    font-family: "museo-sans",sans-serif;
    
}

  
h1{
	font-size: 220%;
}

h2{
	font-size: 200%
}

h3{
	font-size: 180%;
}

h4{
	font-size: 160%;
}

h5{
	font-size: 140%;
}

h6{
	font-size: 120%;
}

p{
	font-size: 100%;
	word-break:hyphenate;
} 


.header1{
    margin: 0 auto 0 auto;
    clear: both;
    width: 960px;
    height: 66px;
    background-color: #D8ffD8;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}
/*******************************
       Navigation style
********************************/
 
ul.nav {
	margin:0px 0px 0px 0px;
	padding:0px;
	list-style:none;
	
}

ul.nav li{
	display: inline-block;
	border: solid #fff 1px;
	padding: 2px;
	margin-left:1em;
	margin-right:1em;
	position: relative;
	list-style: none;
	
	
	}
	
ul.nav li a{
	
	text-decoration:none;
}

ul.nav li:hover{
	text-decoration:underline;
	}
	
ul.nav li ul {
	display: none;
	position:absolute;
	left:0;
	hight: 16px;
	white-space:nowrap;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	
	
}

ul.nav li:hover ul {
	display: inline-block;
	margin:0px;
}

ul.nav li ul li {
background-color: rgba(144, 144, 144, 0.5);
display: inline;
position: relative;
margin: 0px 0px 0px 10px;



}

ul.nav li ul li a{

}

ul.nav li ul li a:hover{

}
	
/*******  End of Navigation style   *******/

div.main {
    background-color: none;
    width: 960px;
    margin: 0 auto 0 auto;
    hight: 453px;
    border: none;
}

.navs{
     margin: 0 auto 0 auto;
    clear:both;
    width: 960px;
}

.primaryNav{
    height: 25px;
    background-color: #E1F5A9;
}

.secondaryNav{
    height: 16px;
    padding-bottom: 3px;
    background-color: #F5A9A9;
}

.leftArea{
    float: left;
    width: 367px;
    height: 453px;
    
}


.rightArea{
    width: 593px;
    height: 453px;
    margin-left: 367px;
    background-color: none;
    background: none;
}

.feature {
    border-radius: 10px;
    overflow: auto;
    background: none;
    background-color: none;
    
}
.featureImg{
   border: solid 5px;
    border-color: #ffffff; 
    
}

.contentAd{
    margin: 0;
    display: block;
    height: 173px;
    width: 593px;
    background: none;
    background-color: none;   
}

.content{
    border: solid 5px;
    border-color: #ffffff;
    background-color: rgba(222,189,148,0.5);
    float: left;
    height: 163px;
    width: 355px;
    border-radius: 10px;
}

.ad{
    background-color: rgba(222,189,148,0.5);
    border: solid 5px;
    border-color: #ffffff;
    height: 163px;
    width: 218px;
    margin-left: 365px;
    border-radius: 10px;
}

.feeds{
    width: 130px;
    height: 443px;
    float: left;
    border-radius: 10px;
    border: solid 5px;
    border-color: #ffffff;
    background-color: rgba(222,189,148,0.5);
	

}



.news{
    background-color: rgba(222,189,148,0.5);
    border: solid 5px;
    border-color: #ffffff;
    margin-left: 140px;
    width: 217px;
    height: 443px;
    border-radius: 10px;
}


.footer{
   margin: 0px;
   height: 106px;
   clear: both;
  
}

.copyRights{
    margin: 0px;
    height: 66px;
    clear: both;
    border-radius:25px;    
}

footer{
    margin: 0 auto 0 auto;
    clear: both;
    height: 127px;
    width: 960px;
    background-color: #BDBDBD;
    opacity: 0.5;   
}

/* ==========================================================================
   Helper classesssssss
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
